@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  background: #171616;
  background: linear-gradient(59deg, rgb(23, 22, 22) 0%, rgb(73, 71, 71) 48%, rgb(32, 31, 31) 95%);
}

.main-title-website {
  font-family: "Turret Road", cursive;
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 10vh 0px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.criptos-top-container {
  display: flex;
  flex-direction: column;
}
.criptos-top-container .top-container-header {
  font-family: "Orbitron", sans-serif;
  color: #f5f5f5;
  margin-left: 5vw;
  margin-bottom: 40px;
}
.criptos-top-container .cripto-card {
  padding: 2px 10px;
  color: #f5f5f5;
  background: rgba(23, 22, 22, 0.73);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(23, 22, 22, 0.96);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.criptos-top-container .cripto-card h4 {
  display: flex;
  justify-content: center;
}
.criptos-top-container .cripto-card:hover {
  scale: 1.1;
  transition: all 0.5s ease;
}

.criptos-top-subcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  width: 95vw;
  margin: auto;
}

.criptos-list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.criptos-list-container h3 {
  font-family: "Orbitron", sans-serif;
  color: #f5f5f5;
}
.criptos-list-container table {
  width: 80%;
  background: #171616;
  background: linear-gradient(59deg, rgb(23, 22, 22) 0%, rgb(73, 71, 71) 48%, rgb(32, 31, 31) 95%);
}
.criptos-list-container .criptos-list-subcontainer {
  margin: 10px;
  border: 1px solid black;
  color: #0b8404;
  text-align: center;
}
.criptos-list-container .criptos-list-subcontainer tr {
  cursor: pointer;
}
.criptos-list-container .criptos-list-subcontainer th, .criptos-list-container .criptos-list-subcontainer td {
  border: 1px solid #0ebc05;
  padding: 2px 10px;
}
.criptos-list-container .criptos-list-subcontainer tr:hover {
  background-color: #171616;
  color: #f5f5f5;
}

.button-page-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.button-page-container button {
  padding: 1px 40px;
  font-size: 20px;
  cursor: pointer;
  background: rgba(23, 22, 22, 0.73);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(23, 22, 22, 0.96);
  color: #0ebc05;
}
.button-page-container button:disabled {
  color: black;
}

.form-container {
  background: rgba(23, 22, 22, 0.73);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(23, 22, 22, 0.96);
  width: 40%;
  margin: auto;
  margin-top: 40px;
}
.form-container h3 {
  font-family: "Orbitron", sans-serif;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.form-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.form-main h3 {
  grid-column: 1/span 2;
}
.form-main input {
  width: 90%;
  background-color: transparent;
  color: #f5f5f5;
  border: none;
  border-bottom: 1px solid #0ebc05;
}
.form-main input:focus {
  outline: none;
  border-bottom: 1px solid #f5f5f5;
  transition: all 0.3s ease-in-out;
}
.form-main #descriptionInput {
  grid-column: 1/span 2;
}
.form-main button {
  grid-column: 1/span 2;
  justify-self: center;
  align-self: center;
  margin-bottom: 10px;
  width: 50%;
  background: rgba(23, 22, 22, 0.73);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(23, 22, 22, 0.96);
  color: #f5f5f5;
  font-family: "Orbitron", sans-serif;
}
.form-main button:hover {
  transition: all 0.5s ease;
  color: rgba(23, 22, 22, 0.73);
  background-color: #f5f5f5;
}

.expense-list-contaner {
  color: #f5f5f5;
  margin-top: 30px;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
}

.expense-list-graph-cont {
  display: flex;
  justify-content: space-around;
}

.expense-total {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}/*# sourceMappingURL=mainStyle.css.map */